@page
@model WebVaskEnTid.Pages.BookingOverviewModel
@{
}
<div class="row row-cols-3">
    @foreach (var Booking in Model.Bookings)
    {
        <div class="card-body">
            <h4 class="card-title">@Booking.PhoneNumber</h4>
            <p class="card-text">Bookingdato: @Booking.BookingDate<br />Maskinenr.: @Booking.MachineID</p>
            
        </div>

    }
</div>
