@page
@model WebVaskEnTid.Pages.CancelBookingModel
@{
}
<form method="post" asp-page-handler="Read">
	
                    <div class="form-group container-fluid">
                        <input asp-for="PhoneNumber" id="newphonenumber" aria-describedby="dateTimeHelp" placeholder="Telefonnummer" />
                        </div>
        <button type="submit" class="btn btn-primary mt-5">Submit</button>

</form>
<div class="row row-cols-3">

	@if (Model.Bookings!=null) {@foreach (var Booking in Model.Bookings)
	{
		<div class="card-body">
			<h4 class="card-title">@Booking.PhoneNumber</h4>
			<p class="card-text">Telefonnummer: @Booking.BookingDate<br />Mail: @Booking.MachineID</p>
			<a href="#" class="btn btn-primary">Delete</a>
		</div>

	}}
</div>