@page
@model WebVaskEnTid.Pages.CreateBookingModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Book lokale</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group container-fluid">
                        <label for="inputPhoneNumber">Dit Telefonnummer: </label>
                        <input type="text" asp-for="NewBooking.PhoneNumber" id="PhoneNumber" aria-describedby="dateTimeHelp" placeholder="Enter PhoneNumber" />
                        <label for="inputDateTime">Dato: </label>
                        <input type="date" asp-for="NewBooking.BookingDate" id="BookingDate" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time" step="3600">
                        <label for="inputDateTime">Starttid: </label>
                        <input type="time" asp-for="NewBooking.BookingTime" id="BookingTime" aria-describedby="dateTimeHelp" placeholder="Enter end time" step="3600" />
                    </div>
                    <div class="mt-2">
                        <label for="Lokale">Skift Lokale: </label>
                        <div class="form-group mt-2 d-inline">
                            <select asp-for="NewBooking.MachineID" id="Maskine">
                                <option value="0">Vælg Maskine</option>
                                <option value="1">Vask1</option>
                                <option value="2">Vask2</option>
                                <option value="3">Vask3</option>
                                <option value="4">Tør1</option>
                                <option value="5">Tør2</option>
                                <option value="6">Rul1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="inputComment">Skriv kommentar her: </label>
                @*         <input type="text" asp-for="NewBooking.Comment" id="inputForm" aria-describedby="textHelp" placeholder="Enter a comment"> *@
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
            </div>
        </div>

                </<div>
                </div>
    </container-sm>
</body>
